.panel-default {
    border-color: rgba(255, 255, 255, 0);
    > .panel-heading {
      background: #5cb888;
      color: #fff;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      /* background-image:none; */
      font-weight: bolder;
      cursor: ns-resize;
    }
  }
  
  .panel {
    margin-bottom: 0px;
  }
  
  .panel-heading a:hover {
    text-decoration: none;
  }